# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp


node_modules/
npm-debug.log
yarn-error.log

*.log
.cache/


/Equipment*.html
/Tempering*.html
/Tempering*_files/
/Equipment*_files/
/Набор*.html
/Набор*_files/
/rag

/*.png
/*.webp
!/icons/**
icons/.DS_Store
icons/sets/.DS_Store
